.catFeed {
  font-size: 1.7em;
  height: auto;
  background-color: rgba(43, 10, 43, 0.231);
  padding: 0.5em;
  cursor: crosshair;
}
.catFeed:hover {
  background-color: rgb(255, 0, 123);
  /* background-color: rgb(189, 12, 47); */
  color: #f7f7f7;
  transition: 0.2s;
}
